.button {

}

.disabled {
    border-radius: 300px;
}

.secondary {
    background-color: #00cc22;

}

.default {
    background-color: #cc9c00;
}

.red {
    background-color: #cc0000;
}

.default:hover {

}

.red:hover {

}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {

}

.styleFromUser  {
    background-color: black;
}
